{% extends 'fmsapp/layout.html' %}
{% load static %}
{% block title %}
All Orders
{% endblock title %}

{% block contents %}

  <section class="container">
    <div class=" p-3">
    </div>
    <div class="row">
      {%if orders %}
     
     
       <div class="col-lg-12">
        <span class="title-1 m-b-25">Orders Record</span> <span class="float-right"><a href="{% url 'fms:create_sale' %}" class="btn btn-dark">Add Sales</a></span>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Postalcode</th>
                                                <th>City</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for order in orders  %}
                                                <tr>
                                                <td>{{order.first_name |capfirst}}</td>
                                                <td>{{order.last_name|capfirst}}</td>
                                                <td>{{order.email}}</td>
                                                <td>{{order.address}}</td>
                                                <td>{{order.postal_code}}</td>
                                                <td>{{order.city}}</td>
                                                <td><span><a href="" onclick="window.print()"><i class="fas text-primary fa-print"></i></a></span></td>
                                            
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
      </div>
     
     

      {% else %}
      <div class='text-center'>
          <p class="display-4 ml-4 text-center text-danger">No Orders History</p><br>
      </div>
      {% endif %}
    
    </div>
  </section>

{% endblock contents  %}